<html>
    <script type="text/javascript" defer src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/style.css">
<body>
    <a href="mailto:emmmabassey50@gmail.com?subject=ZB%20Blogs%20(Enquiry)&body=Hi%20there%2C%20my%20name%20is%20" style="text-align: center; display: block;">
        <h1>Contact Us</h1>
      </a>      
   </body>
</html>